body {
    background-color: black;
    text-align: center;
}

.panel {
    position: absolute;
    left: 10px;
    background-color: rgba(117, 249, 77, 1);
    padding: 10px;
    border-radius: 5px;
    font-family: font-family: 'SabbathParanoid';
    font-size: 14px;
    color: black;
    z-index: 1000;
}

div{
    color: black;
    font-family: 'SabbathParanoid';
}

.header{
    color: rgba(117, 249, 77, 1);
}

.big {
    font-size: 2.5em;
}
.small {
    font-size: 0.75em;
}

@font-face {
    font-family: 'SabbathParanoid';
    src: url('../../common/fonts/Sabbath Paranoid.otf');
}
