body {
    background-color: black;
    text-align: center;
}

.panel {
    position: absolute;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    align: center;
}

.panel-colors{
    background-color: rgba(255, 255, 0, 1);
    font-family: 'MoonPatrol';
    font-size: 14px;
    color: black;
    display: inline;
}

div{
    color: white;
    font-family: 'Twinkle';
}

.header{
    color: rgba(200, 200, 0, 1);
}

.big {
    font-size: 3.5em;
}
.small {
    font-size: 0.75em;
}

@font-face {
    font-family: 'Twinkle';
    src: url('KR Twinkle.ttf');
}

@font-face {
    font-family: 'MoonPatrol';
    src: url('irem-font.ttf');
}
