body {
    background-color: rgba(222, 116, 2, 1);
    text-align: center;
}

.panel {
    position: absolute;
    left: 10px;
    background-color: white;;
    padding: 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: rgba(222, 116, 2, 1);
    z-index: 1000;
}

div{
    color: rgba(222, 116, 2, 1);
    font-family: 'SFatarian';
}

.header{
    color: black;
}

.big {
    font-size: 2.5em;
}
.small {
    font-size: 0.75em;
}

@font-face {
    font-family: 'SFatarian';
    src: url('atari.ttf');
}
